{% extends "template.html" %}

{% block head %}
    <!-- Incluir os arquivos CSS do DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h2>Lista de Jogadores</h2>

    <div class="row mb-3">
        <div class="col">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAdicionarJogador">Adicionar Jogador</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalGerarEquipas">Gerar Equipas</button>
        </div>
    </div>

    <table id="jogadores-table" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Ativo</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for jogador in jogadores %}
                <tr>
                    <td>{{ jogador[0] }}</td>
                    <td>{{ jogador[1] }}</td>
                    <td><input type="checkbox" class="checkbox-ativo" data-jogador-id="{{ jogador[0] }}" {% if jogador[2] == 1 %}checked{% endif %}></td>
                    <td>
                        <button type="button" class="btn btn-primary btn-editar" data-bs-toggle="modal" data-bs-target="#modalEditarJogador" data-jogador-id="{{ jogador[0] }}" alt="Editar jogador"><i class="fa-regular fa-pen-to-square"></i></button>
                    </td> <!-- Botão Editar -->
                </tr>
            {% endfor %}
        </tbody>
    </table>



    <!-- Modal Adicionar Jogador -->
    <div class="modal fade" id="modalAdicionarJogador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Jogador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="formAdicionarJogador">
                <div class="modal-body">
                <div class="mb-3">
                    <label for="nomeJogador" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nomeJogador" name="nome" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="ativoJogador" name="ativo">
                    <label class="form-check-label" for="ativoJogador">Ativo</label>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Modal de Edição de Jogador -->
    <div class="modal fade" id="modalEditarJogador" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Jogador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formEditarJogador">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="editNomeJogador" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="editNomeJogador" name="nome" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="editAtivoJogador" name="ativo">
                            <label class="form-check-label" for="editAtivoJogador">Ativo</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal gerar equipas -->
    <div class="modal fade" id="modalGerarEquipas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Gerar Equipas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Equipa Azul:</h6>
                    <ul id="equipeAzul">
                        {% for jogador in equipe_azul %}
                            <li>{{ jogador[1] }}</li>
                        {% endfor %}
                    </ul>
                    <h6>Equipa Vermelha:</h6>
                    <ul id="equipeVermelha">
                        {% for jogador in equipe_vermelha %}
                            <li>{{ jogador[1] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
            
        </div>
    </div>
    

  

{% endblock %}

{% block scripts %}
    <!-- Incluir os arquivos JavaScript do DataTables e jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>

        // DATATABLE SETTINGS
        $(document).ready(function() {
            $('#jogadores-table').DataTable({
                "paging": true,
                "lengthMenu": [5, 10, 25, 50, 100],
                "pageLength": 5
            });
        });

    
        // ADICIONAR JOGADOR AO BANCO DE DADOS
        $(document).ready(function() {
            $('#formAdicionarJogador').submit(function(e) {
                e.preventDefault();
                
                // Obter os valores do formulário
                var nome = $('#nomeJogador').val();
                var ativo = $('#ativoJogador').is(':checked') ? 1 : 0;
                
                // Enviar os dados do formulário para o servidor usando AJAX
                $.ajax({
                    type: 'POST',
                    url: '/jogadores',
                    data: {
                        nome: nome,
                        ativo: ativo
                    },
                    success: function(response) {
                        // Se a inserção no banco de dados foi bem-sucedida, 
                        // redirecionar para a página de jogadores
                        window.location.href = '/jogadores';
                    },
                    error: function(xhr, status, error) {
                        // Se houve algum erro, exibir uma mensagem de erro
                        console.error(error);
                        alert('Ocorreu um erro ao adicionar o jogador. Por favor, tente novamente.');
                    }
                });

                // Fechar a modal após o envio do formulário
                $('#modalAdicionarJogador').modal('hide');
            });
        });

        //EDITAR JOGADOR SELECIONADO
        $(document).ready(function() {
            // Preencher campos da modal de edição quando o botão "Editar" é clicado
            $(document).on('click', '.btn-editar', function(e) {
                e.preventDefault();
                var jogadorId = $(this).data('jogador-id');
                
                // Fazer uma solicitação AJAX para buscar os detalhes do jogador com o ID jogadorId
                $.ajax({
                    type: 'GET',
                    url: '/detalhes_jogador/' + jogadorId,
                    success: function(response) {
                        // Preencher os campos da modal com os detalhes do jogador
                        $('#editNomeJogador').val(response.name);
                        $('#editAtivoJogador').prop('checked', response.isActive);
                        
                        // Armazenar o ID do jogador na modal de edição para uso posterior
                        $('#formEditarJogador').data('jogador-id', jogadorId);

                        console.log(response)

                        // Exibir a modal de edição
                        $('#modalEditarJogador').modal('show');
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        alert('Ocorreu um erro ao buscar os detalhes do jogador. Por favor, tente novamente.');
                    }
                });
            });



        
            // Submeter o formulário de edição
            $('#formEditarJogador').submit(function(e) {
                e.preventDefault();

                // Obter os dados do formulário
                var nome = $('#editNomeJogador').val();
                var ativo = $('#editAtivoJogador').is(':checked') ? 1 : 0;
                var jogadorId = $(this).data('jogador-id'); // Se necessário, obtém o ID do jogador

                // Enviar os dados do formulário para o servidor usando AJAX
                $.ajax({
                    type: 'POST',
                    url: '/atualizar_jogador/' + jogadorId, // Rota no servidor Flask para atualizar o jogador
                    data: {
                        nome: nome,
                        ativo: ativo
                    },
                    success: function(response) {
                        // Lidar com a resposta do servidor. Por exemplo, redirecionar para a página de jogadores após a atualização
                        window.location.href = '/jogadores';
                    },
                    error: function(xhr, status, error) {
                        // Se houve algum erro, exibir uma mensagem de erro
                        console.error(error);
                        alert('Ocorreu um erro ao atualizar o jogador. Por favor, tente novamente.');
                    }
                });

                // Fechar a modal de edição após o envio do formulário
                $('#modalEditarJogador').modal('hide');
            });

        });
        
        //Editar o "Activo"
        $(document).ready(function() {
            // Evento de mudança para o checkbox "Ativo"
            $(document).on('change', '.checkbox-ativo', function() {
                var jogadorId = $(this).data('jogador-id');
                var ativo = $(this).is(':checked') ? 1 : 0;
                
                // Enviar os detalhes atualizados do jogador para o servidor usando AJAX
                $.ajax({
                    type: 'POST',
                    url: '/atualizar_ativo/' + jogadorId,
                    data: {
                        ativo: ativo
                    },
                    success: function(response) {
                        // Se a atualização for bem-sucedida, não é necessário fazer mais nada
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        alert('Ocorreu um erro ao atualizar o estado do jogador. Por favor, tente novamente.');
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#btnGerarEquipas').click(function() {
                // Fazer uma solicitação AJAX para obter as equipes de jogadores ativos
                $.ajax({
                    type: 'GET',
                    url: '/gerar_equipas',
                    success: function(response) {
                        // Exibir a modal com as equipes de jogadores
                        $('#modalGerarEquipas .modal-body').html(response);
                        $('#modalGerarEquipas').modal('show');
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                        alert('Ocorreu um erro ao gerar as equipes. Por favor, tente novamente.');
                    }
                });
            });
        });
        
        
        

    </script>
{% endblock %}
