{% extends "template.html" %}



{% block content %}
    <h2>Sobre o projeto</h2>

    <div class="col mb-3">
       <p>O presente sistema pretende registar todos os participantes/utilizadores dos modos de jogo desenvolvidos. Além deste registo, o sistema 
        guarda também os resultados dos jogos para processar pequenas estatísticas dos mesmos.</p>
    </div>

    <div class="col mb-3">
        <p>Atualmente apenas está disponível o jogo de "Desarmar a Bomba". Em breve irão estar disponíveis mais funcionalidades.
    </div>

    <div class="col mb-3">
        <p>Funcionalidades a implementar:</p>
            <ul>
                <li>Selecionar um jogo da lista e enviar para o dispositivo eletrónico para iniciar o jogo</li>
                <li>Configuração do jogo via web/bluetooth (app mobile) e enviar para o dispositivo</li>
                <li>Formar equipas com os jogadores ativos registados</li>
            </ul>
    </div>


{% endblock %}